@charset "utf-8";
/* CSS Document */


@media screen and (max-width: 1440px) {

.stage-mid {
	width: 70%;
}


/*main*/
.main-personal-information-category {
	width: 12%;
}

.main-personal-information-text {
	width: 88%;
}


/*experience*/
.experience-time {
	width: 22%;
}

.experience-content {
	width: 78%;
}


/*education*/
.education-time {
	width: 22%;
}

.education-content {
	width: 78%;
}


}


@media screen and (max-width: 1280px) {

.stage {
	background-size: 0% auto;
}

.stage-mid {
	width: 78%;
}


/*main*/
.main-personal-information-category {
	width: 14%;
}

.main-personal-information-text {
	width: 86%;
}


/*experience*/
.experience-time {
	width: 25%;
}

.experience-content {
	width: 75%;
}


/*skill*/
.skill-t {
	width: 16%;
}

.skill-content {
	width: 84%;
}


/*education*/
.education-time {
	width: 25%;
}

.education-content {
	width: 75%;
}

}


@media screen and (max-width: 1024px) {

.stage-mid {
	width: 82%;
}

}


@media screen and (max-width: 992px) {

.stage-mid {
	width: 85%;
}

/*experience*/
.experience-time {
	width: 28%;
}

.experience-content {
	width: 72%;
}


/*skill*/
.skill-t {
	width: 16%;
}

.skill-content {
	width: 84%;
}


/*education*/
.education-time {
	width: 28%;
}

.education-content {
	width: 72%;
}

}


@media screen and (max-width: 896px) {

/*main*/
.main-photo {
	right: 80px;
}

.main-personal-information-sn {
	flex-wrap: wrap;
}

.main-personal-information-category {
	width: 100%;
	line-height: 1.375rem;
}

.main-personal-information-text {
	width: 100%;
}


/*experience*/
.experience-title {
	font-size: 1.875rem;
}

.experience-time {
	width: 100%;
}

.experience-content {
	width: 100%;
}


/*skill*/
.skill-title {
	font-size: 1.875rem;
}

.skill-t {
	width: 100%;
	margin-bottom: 2px;
}

.skill-content {
	width: 100%;
}

.skill-area {
	width: 50%;
	display: block;
}

/*education*/
.education-title {
	font-size: 1.875rem;
}

.education-time {
	width: 100%;
}

.education-content {
	width: 100%;
}

}


@media screen and (max-width: 768px) {

.stage-mid {
	width: 90%;
	padding: 40px 0px;
}


/*main-top*/
.main-top-title {
	font-size: 2.813rem;
}

.main-top-text {
	font-size: 2.125rem;
}


/*main*/
.main {
	padding: 35px 35px;
}

.main-photo {
	width: 240px;
	height: 240px;
	top: -150px;
	right: 35px;
}


/*experience*/
.experience {
	padding: 35px 35px;
}


/*skill*/
.skill {
	padding: 35px 35px;
}

.skill-area-l {
	flex-wrap: wrap;
}

.skill-area-r {
	flex-wrap: wrap;
}

.skill-area {
	width: 100%;
}

.skill-t {
	width: 100%;
	margin-bottom: 2px;
}

.skill-content {
	width: 100%;
}

.skill-content-detail {
	margin-bottom: 30px;
}

.skill-space-b {
	margin-bottom: initial;
}


/*education*/
.education {
	padding: 35px 35px;
}


/*works*/
.works-pic-n {
	width: 48%;
	margin-bottom: 4%;
}

.works-pic > div:not(:nth-child(4n)) {
    margin-right: initial;
}

.works-pic > div:not(:nth-child(2n)) {
    margin-right: 4%;
}

.works-pic > div:nth-last-child(-n+4) {
	margin-bottom: 4%;
}

.works-pic > div:nth-last-child(-n+2) {
	margin-bottom: 0;
}


/*gototop*/
#top {
	width: 60px;
	height: 60px;
    bottom: 25px;
    right: 10px;
}

}


@media screen and (max-width: 580px) {

/*main*/
.main-photo {
	width: 220px;
	height: 220px;
	right: 20px;
}

}


@media screen and (max-width: 550px) {

/*works*/
.works-pic-n {
	width: 100%;
	margin-bottom: 6%;
}

.works-pic > div:not(:nth-child(2n)) {
    margin-right: 0;
}

.works-pic > div:nth-last-child(-n+4) {
	margin-bottom: 6%;
}

.works-pic > div:nth-last-child(-n+2) {
	margin-bottom: 6%;
}

.works-pic > div:nth-last-child(-n+1) {
	margin-bottom: 0;
}


}


@media screen and (max-width: 450px) {

/*main-top*/
.main-top-title {
	font-size: 2.5rem;
	line-height: 3rem;
}

.main-top-text {
	font-size: 1.875rem;
    margin-top: 0px;
	line-height: 2rem;
}


/*main*/
.main-photo {
	width: 200px;
	height: 200px;
	right: 10px;
}

.main-personal-information-category {
	font-size: 1rem;
}

.main-personal-information-text {
	font-size: 1.125rem;
	line-height: 2rem;
}


/*experience*/
.experience-title {
	font-size: 1.813rem;
}

.experience-time {
	margin-bottom: 2px;
}

.experience-content-position {
	font-size: 1.188rem;
	line-height: 2rem;
}

.experience-content-company {
	font-size: 1.063rem;
}

.experience-content-detail {
	font-size: 0.938rem;
}


/*skill*/
.skill-title {
	font-size: 1.813rem;
}

.skill-content-detail {
	font-size: 1.063rem;
	line-height: 1.75rem;
}


/*education*/
.education-title {
	font-size: 1.813rem;
}

.education-time {
	margin-bottom: 2px;
}

.education-content-school {
	font-size: 1.188rem;
	line-height: 2rem;
}

.education-content-detail {
	font-size: 0.938rem;
}

}


@media screen and (max-width: 370px) {

/*main*/
.main-photo {
	width: 180px;
	height: 180px;
	right: 12px;
}


/*gototop*/
#top {
	width: 52px;
	height: 52px;
    bottom: 16px;
}

}


@media screen and (max-width: 350px) {

/*main-top*/
.main-top-title {
	font-size: 2.313rem;
}

.main-top-text {
	font-size: 1.688rem;
}


/*main*/
.main-photo {
	width: 165px;
	height: 165px;
}
	
}