@charset "utf-8";
/* CSS Document */


img, object, embed, video {
	max-width: 100%;
	border: 0;
}

ol, ul {
    margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	  
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #e8fbff;
	font-size: 1rem;
	color: #333;
	font-family: Avenir Next,Calibri,"Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
}

.stage {
	width: 100%;
	background-image: url(images/bg.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat; 
	background-position: center top;
	background-size: 100% auto;
}

.stage-mid {
	width: 60%;
	padding: 60px 0px;
	margin: 0 auto;
	display: block;
}


/*main-top*/
.main-top {
	width: 100%;
	height: 160px;
	margin: 0 auto;
	display: block;
}

.main-top-title {
	width: 100%;
	font-size: 3rem;
	line-height: 3.5rem;
	color: #000;
	font-weight: bold;
}

.main-top-text {
	width: 100%;
	font-size: 2.25rem;
	line-height: 2.5rem;
	color: #959595;
	margin-top: 5px;
}


/*main*/
.main {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.1);
	display: block;
	margin-bottom: 25px;
	padding: 35px 45px;
}

.main-photo {
	position: absolute;
	width: 250px;
	height: 250px;
	top: -80px;
	right: 100px;
	background-color: #b3b3b3;
    background-image: url(images/photo.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center top;
	background-size: cover;
	display: block;
	border-radius: 999px;
}

.main-personal-information {
	width: 100%;
	margin-bottom: 35px;
}

.main-personal-information > div:last-child {
	margin-bottom: 0px;
}

.main-personal-information-sn {
	width: 100%;
	display: flex;
	margin-bottom: 12px;
}

.main-personal-information-category {
	width: 12%;
	font-size: 1.125rem;
	line-height: 2rem;
	color: #00a8b8;
}

.main-personal-information-text {
	width: 88%;
	font-size: 1.125rem;
	line-height: 2rem;
	color: #535353;
}

.main-personal-information-text a {
	color: #009feb;
	text-decoration: none;
}

.main-personal-information-text a:hover {
	text-decoration: underline;
}


.main-introduction {
	width: 100%;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #535353;
}


/*experience*/
.experience {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.1);
	display: block;
	margin-bottom: 25px;
	padding: 35px 45px;
}

.experience-title {
	width: 100%;
	font-size: 1.938rem;
	line-height: 2.5rem;
	color: #00a8b8;
	margin-bottom: 30px;
}

.experience-area {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.experience-time {
	width: 20%;
	font-size: 1.375rem;
	line-height: 1.6rem;
	color: #59c9b0;
	margin-bottom: 12px;
}

.experience-time-sm {
	font-size: 1rem;
	line-height: 1.4rem;
	color: #aecfc9;
}

.experience-content {
	width: 80%;
}

.experience-content-position {
	width: 100%;
	font-size: 1.313rem;
	line-height: 2rem;
	color: #333;
	font-weight: bold;
}

.experience-content-company {
	width: 100%;
	font-size: 1.125rem;
	line-height: 2rem;
	color: #6b6b6b;
	margin-bottom: 12px;
	font-weight: bold;
}

.experience-content-detail {
	width: 100%;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #858585;
	margin-bottom: 36px;
}

.experience-space {
	margin-bottom: 10px;
}



/*skill*/
.skill {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.1);
	display: block;
	margin-bottom: 25px;
	padding: 35px 45px;
}

.skill-title {
	width: 100%;
	font-size: 1.938rem;
	line-height: 2.5rem;
	color: #00a8b8;
	margin-bottom: 30px;
}

.skill-area-all {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.skill-area-l {
	width: 100%;
	display: flex;
}

.skill-area-r {
	width: 100%;
	display: flex;
}

.skill-area {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}

.skill-t {
	width: 15%;
	font-size: 1.375rem;
	line-height: 2rem;
	color: #59c9b0;
	margin-bottom: 12px;
}

.skill-content {
	width: 85%;
}

.skill-content-detail {
	width: 100%;
	font-size: 1.125rem;
	line-height: 2rem;
	color: #333;
	margin-bottom: 40px;
}

.skill-space-a {
	margin-bottom: 10px;
}

.skill-space-b {
	margin-bottom: 10px;
}


/*education*/
.education {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.1);
	display: block;
	margin-bottom: 25px;
	padding: 35px 45px;
}

.education-title {
	width: 100%;
	font-size: 1.938rem;
	line-height: 2.5rem;
	color: #00a8b8;
	margin-bottom: 30px;
}

.education-area {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.education-time {
	width: 20%;
	font-size: 1.375rem;
	line-height: 2rem;
	color: #59c9b0;
	margin-bottom: 12px;
}

.education-content {
	width: 80%;
}

.education-content-school {
	width: 100%;
	font-size: 1.313rem;
	line-height: 2rem;
	color: #333;
	font-weight: bold;
}

.education-content-detail {
	width: 100%;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #858585;
	margin-top: 10px;
	margin-bottom: 30px;
}

.education-space {
	margin-bottom: 10px;
}


/*works*/
.works {
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.works-pic {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.works-pic-n {
	width: 24%;
	margin-bottom: 1.33333%;
	font-size: 0;
	text-align: center;
}

.works-pic-n img {
	width: 100%;
}

.works-pic > div:not(:nth-child(4n)) {
    margin-right: calc(4% / 3);
}

.works-pic > div:nth-last-child(-n+4) {
	margin-bottom: 0;
}


/*gototop*/
#top {
	position: fixed;
	width: 75px;
	height: 75px;
    bottom: 30px;
    right: 15px;
	display: none;
}