@charset "utf-8";
/* CSS Document */


#mid_new {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	background-color: #f1f0f0;
	margin-top: 86px;	
}

.content-ann {
	width: 100%;
	margin-top: 35px;
}

.content-ann-area {
	background-color: #fff;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 20px;
}

.content-ann-area-title {
	position: relative;
	width: 100%;
	font-size: 1.375rem;
	line-height: 2rem;
	font-weight: bold;
	color: rgb(211, 80, 40);
}

.content-ann-area-title:before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -15px;
	width: 5px;
	height: 20px;
	background-color: #ffc4aa;
	border-radius: 9999px;
}

.content-ann-area-text {
	width: 100%;
	font-size: 1rem;
    line-height: 1.625rem;
	color: #666;
	margin-top: 14px;
}

.content-game {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 15px 0px 25px 0px;
	margin-bottom: 10px;
}

.content-game_g01{
	width: 475px;
	height: 250px;
	background-color: #ffffff;
	background-image:url(images/game-zone/game-zone_index_online01.jpg);
	border: 3px solid #ffffff;
	box-shadow: 3px 3px rgba(0%,0%,0%,0.08);
}

.content-game_g01:hover {
	background-color: #ffffff;
	-webkit-transition: background-color 0.6s linear;
    transition: background-color 0.6s linear;
	border: 4px solid #fba9ab;
	box-shadow: 0px 0px rgba(0%,0%,0%,0.08);
}

.content-game_g01 a{
	width: 475px;
	height: 250px;
	display:block;
}

.content-game_g03{
	width: 475px;
	height: 250px;
	background-color: #ffffff;
	background-image:url(images/game-zone/game-zone_index_online02.jpg);
	border: 3px solid #ffffff;
	box-shadow: 3px 3px rgba(0%,0%,0%,0.08);
}

.content-game_g03:hover {
	background-color: #ffffff;
	-webkit-transition: background-color 0.6s linear;
    transition: background-color 0.6s linear;
	border: 4px solid #fba9ab;
	box-shadow: 0px 0px rgba(0%,0%,0%,0.08);
}

.content-game_g03 a{
	width: 475px;
	height: 250px;
	display:block;
}